<h2 style="text-align: center;">Reporte de Duración por Álbum</h2>

<div class="contenedor-reporte">

  <div class="seccion-grafico">
    <ngx-charts-bar-vertical
        [view]="[500, 300]"
        [results]="chartData"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Álbum"
        yAxisLabel="Minutos">
    </ngx-charts-bar-vertical>
  </div>

  <div class="seccion-tabla">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="nombreAlbum">
        <th mat-header-cell *matHeaderCellDef style="background-color: #BDB8E0;"> Álbum </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreAlbum}} </td>
      </ng-container>

      <ng-container matColumnDef="duracionTotal">
        <th mat-header-cell *matHeaderCellDef style="background-color: #BDB8E0;"> Duración </th>
        <td mat-cell *matCellDef="let element"> {{element.duracionTotal}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>