mat-toolbar {
    background-color: var(--color1) !important; /* Forzamos el color naranja */
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
}

/* Opcional: Asegurar que los enlaces/iconos sean blancos */
a {
    color: white;
    text-decoration: none;
}