<mat-toolbar>
    <a style="cursor: pointer;" routerLink="/home"><mat-icon>home</mat-icon></a>
    <a style="cursor: pointer;" routerLink="/reporte01-martinezlinares"><mat-icon>description</mat-icon></a>
    <h1 style="margin-left: 10px;">Examen Final</h1> <span class="example-spacer"></span>
    
    <div *ngIf="HayUsuario()" style="display: flex; align-items: center; gap: 10px;">
        <span style="font-size: 14px;">
            Username: {{ username }} - Rol: {{ role }}
        </span>
        <a style="cursor: pointer;" (click)="Logout()"><mat-icon>logout</mat-icon></a>
    </div>
</mat-toolbar>

