
:host {
    display: flex;     
    justify-content: center; 
    align-items: center;    
    height: 100vh;
    width: 100%;
    background-color: #BDB8E0;
}
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.ancho-total {
    width: 100%;
}

